<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Réservation Box{% endblock %}</title>
    <!-- Charger les fichiers statiques -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Ici, un header commun, logo, etc. -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Pied de page commun -->
    </footer>
</body>
</html>