{% extends 'base.html' %}
{% load static %}
{% block title %}Calendrier Admin{% endblock %}

{% block content %}
<div class="calendar-container">
    <div class="calendar-box">
        <h2>Calendrier Admin</h2>

        {% if error_message %}
          <div class="error-message">
              <p>{{ error_message }}</p>
          </div>
        {% endif %}

        <!-- Bouton pour accéder au profil admin -->
        <a href="{% url 'profilAdmin' %}" class="profile-button">
            Profil Admin
        </a>

        <form id="adminCalendarForm" method="POST" action="{% url 'blockSlotsAdmin' %}">
            {% csrf_token %}

            <div>
                <label for="weekSelector">Choisir une semaine :</label>
                <select id="weekSelector"></select>
            </div>

            <table>
                <thead>
                    <tr id="daysHeader"></tr>
                </thead>
                <tbody id="timeSlotsTable"></tbody>
            </table>

            <input type="hidden" name="selected_hours" id="selectedHours">
            <button type="submit" id="blockButton" class="blockButton">Bloquer les créneaux sélectionnés</button>
        </form>
    </div>
</div>

<script src="{% static 'js/calendrierAdmin.js' %}"></script>
{% endblock %}
